extends layouts/default.pug
include mixins/product-item.pug
block title 
    title Shiba Inu Nâu Đỏ
block main 
    main.main   
        //- Section-6
        section.section-6 
            .container 
                .section-6__wrap 
                    .section-6__images
                        .section-6__images-main
                            img(src="./assets/img/shiba-1.jpg") 
                        .section-6__images-thumb 
                            img(src="./assets/img/shiba-2.jpg") 
                            img(src="./assets/img/shiba-3.jpg") 
                            img(src="./assets/img/shiba-4.jpg") 
                            img(src="./assets/img/shiba-5.jpg") 
                            img(src="./assets/img/shiba-6.jpg") 
                    .section-6__content
                        //- Breadcrumb
                        .breadcrumb
                            nav.breadcrumb__wrap 
                                ul 
                                    li 
                                        a(href="#!") Trang chủ 
                                    li 
                                        a(href="#!") Chó
                                    li 
                                        a(href="#!") Chó con
                                    li 
                                        a(href="#!") Shiba Inu Màu Nâu Đỏ
                        h2.section-6__title Shiba Inu Màu Nâu Đỏ
                        h3.section-6__sub-title 12.000.000 VND
                        .section-6__buttons 
                            a(href="#!" class="button") Liên hệ 
                            a(href="#1" class="button-outline")  
                                i(class="fa-regular fa-comment-dots")
                                | Chat với Monito
                        .section-6__table 
                            table 
                                tbody 
                                    tr 
                                        td SKU
                                        td #1000078
                                    tr 
                                        td Giống 
                                        td Cái 
                                    tr 
                                        td Tuổi 
                                        td 2 tháng 
                                    tr 
                                        td Kích thước 
                                        td Nhỏ
                                    tr 
                                        td Màu sắc 
                                        td Nâu đỏ 
                                    tr 
                                        td Mô tả ngắn 
                                        td Giống thuần chủng Shih Tzu. Cấu trúc cơ thể tốt. Với chứng chỉ MKA và Microchip. Cha từ dòng dõi vô địch.
                        .box-share  
                            .box-share__label 
                                i(class="fa-solid fa-share-nodes")
                                |  Chia sẻ : 
                            .box-share__list 
                                a(href="#!", target="_blank") <i class="fa-brands fa-facebook"></i>
                                a(href="#!", target="_blank") <i class="fa-brands fa-square-x-twitter"></i>
                                a(href="#!", target="_blank") <i class="fa-brands fa-instagram"></i>
                                a(href="#!", target="_blank") <i class="fa-brands fa-youtube"></i>
        -
            var pets = [
                {
                    name: 'MO231 - Pomeranian Trắng',
                    gender: 'Đực',
                    age: '02 tháng',
                    price: '6.900.000 VND',
                    imgSrc: './assets/img/image 1.png'
                },
                {
                    name: 'MO502 - Poodle Tiny Vàng',
                    gender: 'Cái',
                    age: '02 tháng',
                    price: '3.900.000 VND',
                    imgSrc: './assets/img/image 2.png'
                },
                {
                    name: 'MO102 - Poodle Tiny Sepia',
                    gender: 'Đực',
                    age: '02 tháng',
                    price: '4.000.000 VND',
                    imgSrc: './assets/img/image 3.png'
                },
                {
                    name: 'MO512 - Alaskan Malamute',
                    gender: 'Đực',
                    age: '02 tháng',
                    price: '8.900.000 VND',
                    imgSrc: './assets/img/image 4.png'
                }
            ];
        .section-2
            .container
                .box
                    .box-left
                        p.box-left__desc Có gì mới?
                        h2.box-left__title Xem thêm chó con 
                    .box-right
                        a(href="#" class="button-outline") Xem thêm
                .section-2__wrap
                    each pet in pets
                        +product-item(pet)  