section.section-3
    .container
        .section-3__wrap
            .section-3__image
                img(src="./assets/img/image-2.png" alt="")            
            .section-3__content
                .section-3__title
                    .section-3__main-title Thêm Một Bạn
                    .section-3__sub-title Thêm Ngàn Niềm Vui!
                .section-3__desc Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
                .section-3__button
                    a(href="#!" class="button-outline") Giới Thiệu 
                        i(class="fa-regular fa-circle-play")
                    a(href="#!" class="button") Khám Phá Ngay