@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

/* Button */
.button {
  display: inline-flex;
  justify-content: center;
  background-color: #003459;
  color: #fdfdfd;
  height: 48px;
  padding: 12px 28px;
  align-items: center;
  border-radius: 57px;
}

.button:hover {
  opacity: 0.875;
}

/* Button-Outline */
.button-outline {
  display: inline-flex;
  align-items: center;
  border: 1.5px solid #003459;
  border-radius: 57px;
  font-weight: 500;
  font-size: 16px;
  height: 44px;
  color: #003459;
  padding: 12px 28px;
  gap: 11px;
  transition: all 0.3s;
}

.button-outline:hover {
  background-color: #003459;
  color: #ffffff;
}

.button-outline:hover i {
  color: #ffffff;
}

.container {
  width: 1180px;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 767.98px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.box .box-left__desc {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.box .box-left__title {
  font-size: 24px;
  font-weight: 700;
  color: #003459;
  text-transform: capitalize;
}

@media (max-width: 767.98px) {
  .box-left__desc {
    font-size: 14px;
  }
  .box-left__title {
    font-size: 20px;
  }
  .box-right {
    display: none;
  }
}
/* Header */
.header {
  position: relative;
  z-index: 999999;
  padding-top: 28px;
  padding-bottom: 28px;
}
.header__wrap {
  display: flex;
  gap: 14px;
  align-items: center;
}
.header__logo img {
  width: auto;
  height: 40px;
}
.header__menu {
  flex: 1;
  text-align: center;
}
.header__menu ul {
  list-style: none;
  display: inline-flex;
  gap: 48px;
}
.header__menu ul a {
  color: #003459;
  font-weight: 700;
  font-size: 16px;
}
.header__form {
  display: inline-flex;
  gap: 12px;
  padding: 0 16px;
  height: 44px;
  width: 280px;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 46px;
}
.header__form button {
  font-size: 16.5px;
  color: #667479;
  background-color: transparent;
  border: none;
}
.header__form input {
  font-size: 14px;
  font-weight: 500;
  color: #99a2a5;
  text-align: left;
  outline: none;
  border: none;
  background-color: transparent;
}
.header__button {
  margin-left: 10px;
  height: 44px;
  padding: 0 28px;
  font-weight: 700;
  font-size: 16px;
  background-color: #003459;
  color: #fdfdfd;
}
.header__search-mobile {
  display: none;
}
.header__menu-mobile {
  display: none;
}
@media (max-width: 1198.76px) {
  .header {
    padding: 12.5px 0;
  }
  .header__button {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .header__form {
    display: none;
  }
  .header__search-mobile {
    display: inline-block;
    background-color: transparent;
    font-size: 24px;
    color: #00171f;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
@media (max-width: 767.98px) {
  .header__menu {
    display: none;
  }
  .header__wrap {
    justify-content: space-between;
  }
  .header__menu-mobile {
    display: inline-block;
    background-color: transparent;
    font-size: 24px;
    color: #00171f;
    border: none;
    outline: none;
    cursor: pointer;
    order: 0;
  }
  .header__logo img {
    height: 32px;
  }
}

/* Section */
.section-1 {
  background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
  margin-top: -100px;
  padding-top: 100px;
  overflow: hidden;
}
.section-1__image-main {
  position: relative;
  width: 100%;
  display: block;
}
.section-1__image {
  width: 50%;
  padding-right: 74px;
  position: relative;
}
.section-1__title {
  position: relative;
  margin-bottom: 24px;
}
.section-1__content {
  position: relative;
  width: 50%;
  color: #002a48;
  padding-top: 80px;
  padding-right: 76px;
}
.section-1__bg-1 {
  position: absolute;
  top: 75px;
  left: -10px;
}
.section-1__bg-2 {
  position: absolute;
  bottom: 0;
  left: -130px;
}
.section-1__title {
  position: relative;
  margin-bottom: 24px;
}
.section-1__wrap {
  display: flex;
  position: relative;
}
.section-1__desc {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 34px;
  line-height: 24px;
}
.section-1__main-title {
  font-size: 60px;
  font-weight: 700;
}
.section-1__sub-title {
  font-size: 46px;
  font-weight: 700;
}
.section-1__button {
  display: inline-flex;
  gap: 18px;
  align-items: center;
  font-weight: 600;
  flex-wrap: wrap;
}
.section-1__button .button-outline {
  gap: 10px;
}
.section-1__bg-3 {
  position: absolute;
  left: -100px;
  bottom: -10px;
}
.section-1__bg-4 {
  position: absolute;
  top: -105px;
  left: -150px;
}
@media (max-width: 1199.98px) {
  .section-1__main-title {
    font-size: 52px;
  }
  .section-1__sub-title {
    font-size: 37px;
  }
  .section-1__bg-3 {
    left: -125px;
    bottom: -110px;
  }
  .section-1__bg-2 {
    left: -15px;
    height: 50px;
  }
}
@media (max-width: 991.98px) {
  .section-1__bg-2 {
    display: none;
  }
  .section-1__wrap {
    flex-wrap: wrap;
  }
  .section-1__content {
    padding-top: 35px;
    padding-right: 0;
    width: 100%;
  }
  .section-1__image {
    margin-top: 25px;
    padding-right: 0;
    width: 100%;
  }
  .section-1__image-main {
    left: -5%;
  }
  .section-1__bg-3 {
    bottom: 0;
  }
}
@media (max-width: 767.98px) {
  .section-1__bg-4 {
    left: 13%;
  }
}
@media (max-width: 575.98px) {
  .section-1 {
    border-radius: 0 0 20px 20px;
  }
  .section-1__bg-1 {
    display: none;
  }
  .section-1__main-title {
    font-size: 45px;
  }
  .section-1__sub-title {
    font-size: 28px;
  }
  .section-1__desc {
    margin-top: 12px;
  }
  .section-1__button {
    justify-content: center;
  }
  .section-1__content {
    z-index: 1;
  }
}
@media (max-width: 480px) {
  .section-1__bg-4 {
    left: 2%;
  }
}

/* Section-2 */
.section-2 {
  padding: 60px 0;
  /* Button Section 2 */
}
.section-2 img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}
.section-2__item {
  width: calc((100% - 60px) / 4);
  background-color: #fdfdfd;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  border-radius: 8px;
  padding: 8px 8px 20px 8px;
  transition: 1s;
  /* Giới hạn diện tích mỗi product-item */
}
.section-2__item:hover {
  transform: scale(1.1);
}
.section-2__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 28px;
}
.section-2__image {
  border-radius: 10px;
  margin-bottom: 8px;
}
.section-2__content {
  padding: 8px 8px 0px 8px;
}
.section-2__info {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 4px 26px;
  margin-bottom: 4px;
}
.section-2__product-info {
  font-size: 16px;
  font-weight: 700;
  color: #00171f;
}
.section-2__info-item {
  position: relative;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 700;
  color: #667479;
}
.section-2__info-item::after {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background-color: #667479;
  top: 6px;
  right: -13px;
}
.section-2__price {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 700;
  color: #00171f;
}
.section-2__button-bottom {
  display: none;
}
@media (max-width: 991.98px) {
  .section-2__item {
    width: calc((100% - 40px) / 3);
  }
  .section-2__product-info {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .section-2__wrap {
    gap: 12px;
  }
  .section-2__item {
    width: calc((100% - 12px) / 2);
  }
  .section-2__button-bottom {
    display: block;
    margin-top: 16px;
  }
  .section-2 .button-outline {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .section-2 {
    padding: 40px 0;
  }
  .section-2__info-item::after {
    display: none;
  }
  .section-2__product-info {
    font-size: 13px;
  }
}

/* Section-3 */
.section-3__wrap {
  display: flex;
  background-image: url(../img/Banner.svg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  background-position: center;
  border-radius: 20px;
}
.section-3__image {
  width: 40%;
  margin-left: 20px;
  margin-top: 36px;
}
.section-3__image img {
  width: 100%;
  height: auto;
  display: block;
}
.section-3__content {
  text-align: right;
  width: 34%;
  margin-top: 58px;
  margin-right: 72px;
}
.section-3__main-title {
  font-size: 52px;
  font-weight: 700;
  color: #003459;
}
.section-3__sub-title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 8px;
  color: #003459;
}
.section-3__desc {
  font-size: 12px;
  font-weight: 500;
  color: #242b33;
  margin-bottom: 24px;
}
.section-3__button {
  display: inline-flex;
  align-items: center;
  gap: 10px 18px;
}
.section-3__button .button {
  height: 48px;
}
@media (max-width: 1198.98px) {
  .section-3__main-title {
    font-size: 45px;
  }
  .section-3__sub-title {
    font-size: 30px;
  }
  .section-3__content {
    width: 40%;
  }
  .section-3 .button-outline {
    color: #003459;
    border-color: #00171f;
  }
  .section-3 .button-outline:hover {
    color: #fff;
  }
}
@media (max-width: 991.98px) {
  .section-3__wrap {
    flex-wrap: wrap;
    background-image: url(../img/Banner-Mobile.svg);
  }
  .section-3__content {
    text-align: center;
    padding: 32px 20px;
    margin: 0;
    order: 0;
    width: 100%;
  }
  .section-3__image {
    order: 1;
    width: 100%;
    margin: 0;
  }
  .section-3__button {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .section-3__sub-title {
    font-size: 24px;
    margin: 0;
  }
  .section-3__main-title {
    font-size: 36px;
  }
  .section-3__desc {
    margin-bottom: 32px;
  }
}

/* Section-4 */
.section-4 {
  padding: 60px 0;
}
.section-4__wrap {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-top: 28px;
}
.section-4__blog-item {
  width: calc((100% - 40px) / 3);
  background-color: #ffffff;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.0784313725);
  border-radius: 12px;
  padding: 8px;
  transition: all 1s;
}
.section-4__blog-item:hover {
  transform: scale(1.1);
}
.section-4__image {
  margin-bottom: 8px;
}
.section-4__image img {
  width: 100%;
  display: block;
  border-radius: 12px;
}
.section-4__blog-desc {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #242b33;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.section-4__blog-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #00171f;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.section-4__content {
  padding: 8px;
}
.section-4__blog-tag {
  background-color: #00a7e7;
  padding: 2px 10px;
  font-size: 10px;
  font-weight: 700;
  color: #fdfdfd;
  display: inline-block;
  border-radius: 28px;
}
.section-4__button-bottom {
  display: none;
}
@media (max-width: 991.98px) {
  .section-4__wrap {
    gap: 12px;
  }
  .section-4__blog-item {
    width: calc((100% - 12px) / 2);
  }
}
@media (max-width: 767.98px) {
  .section-4__button-bottom {
    display: block;
    margin-top: 16px;
  }
  .section-4__button-bottom .button-outline {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .section-4 {
    padding: 40px 0;
  }
  .section-4__blog-item {
    width: 100%;
  }
}

/* Footer */
.footer {
  background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
  padding-top: 80px;
  padding-bottom: 40px;
  border-radius: 40px 40px 0 0;
  /* Top */
  /* Middle */
  /* Bottom */
}
.footer__top {
  display: flex;
  background-color: #003459;
  column-gap: 20px;
  padding: 32px;
  border-radius: 16px;
}
.footer__heading {
  text-transform: capitalize;
  width: 34%;
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
  line-height: 36px;
}
.footer__form {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  column-gap: 12px;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  border-radius: 12px;
}
.footer input {
  flex: 1;
  padding: 14px 28px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: 1px solid #99a2a5;
  border-radius: 8px;
  background-color: transparent;
}
.footer__button {
  padding: 12px 28px;
  font-size: 16px;
  color: #fdfdfd;
  font-weight: 500;
  background-color: #003459;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__button:hover {
  background-color: #00a7e7;
}
.footer__middle {
  padding: 40px 0;
  border-bottom: 1px solid #ccd1d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links ul {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.footer__links a {
  font-size: 16px;
  font-weight: 500;
  color: #00171f;
}
.footer__icons ul {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.footer__icons a {
  display: inline-block;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #00171f;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.footer__copyright {
  color: #667479;
  font-size: 14px;
  font-weight: 500;
}
.footer__links-bottom a {
  font-size: 14px;
  font-weight: 500;
  color: #667479;
}
.footer__links-bottom ul {
  display: flex;
  column-gap: 32px;
  align-items: center;
}
@media (max-width: 991.98px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__heading {
    width: 100%;
    margin-bottom: 16px;
  }
  .footer__form {
    width: 100%;
  }
  .footer__middle {
    flex-wrap: wrap;
  }
  .footer__links {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__links ul {
    justify-content: center;
  }
  .footer__icons {
    margin-top: 20px;
    width: 100%;
  }
  .footer__icons ul {
    justify-content: center;
  }
  .footer__bottom {
    flex-wrap: wrap;
    margin-top: 36px;
  }
  .footer__logo {
    width: 100%;
    text-align: center;
    order: 0;
  }
  .footer__links-bottom {
    width: 100%;
    order: 1;
    margin-top: 32px;
  }
  .footer__links-bottom a {
    font-size: 12px;
  }
  .footer__links-bottom ul {
    justify-content: center;
  }
  .footer__copyright {
    width: 100%;
    font-size: 10px;
    text-align: center;
    order: 2;
    margin-top: 12px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    padding: 40px 16px;
    border-radius: 20px 20px 0 0;
  }
  .footer__top {
    padding: 17px;
  }
  .footer__top input {
    width: 100%;
    flex: none;
  }
  .footer__form {
    flex-wrap: wrap;
  }
  .footer__links ul {
    flex-wrap: wrap;
    gap: 10px 40px;
  }
  .footer__button {
    margin-top: 12px;
    width: 100%;
  }
  .footer__links-bottom a {
    font-size: 13px;
  }
  .footer__icons a {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
