<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <button class="header__menu-mobile"><i class="fa-solid fa-bars"></i></button>
          <div class="header__logo"><a href="index.html"><img src="./assets/img/logo.svg" alt="Logo"></a></div>
          <nav class="header__menu">
            <ul>
              <li><a href="index.html">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <button class="header__search-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
          <form class="header__form" action="#!">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <input type="text" name="" placeholder="Nhập từ khóa...">
          </form><a class="header__button button" href="#!">Tham Gia Cộng Đồng</a>
        </div>
      </div>
    </header>
    <footer class="footer">
      <div class="container">
        <div class="footer__wrap">
          <div class="footer__top">
            <div class="footer__heading">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</div>
            <form class="footer__form" action="">
              <input type="email" placeholder="Nhập email của bạn...">
              <button class="footer__button">Đăng Kí Ngay</button>
            </form>
          </div>
          <div class="footer__middle">
            <nav class="footer__links">
              <ul>
                <li><a href="#!">Trang Chủ</a></li>
                <li><a href="#!">Danh Mục</a></li>
                <li><a href="#!">Giới Thiệu</a></li>
                <li><a href="#!">Liên Hệ</a></li>
              </ul>
            </nav>
            <nav class="footer__icons">
              <ul>
                <li><a href="#!"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#!"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#!"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__bottom">
            <div class="footer__copyright">© 2023 28Tech. All rights reserved.</div>
            <div class="footer__logo"><a href="index.html"><img src="./assets/img/logo.svg" alt="Logo"></a></div>
            <div class="footer__links-bottom">
              <ul>
                <li><a href="#!">Điều khoản dịch vụ</a></li>
                <li><a href="#!">Chính sách bảo mật</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>