doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
        link(rel="stylesheet" href="./assets/css/reset.css")
        link(rel="stylesheet" href="./assets/css/style.css")
        link(rel="preconnect" href="https://cdnjs.cloudflare.com")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
    body
        //- Header
        header.header
            .container
                .header__wrap
                    //- Menu Mobile
                    button.header__menu-mobile
                        i(class="fa-solid fa-bars")
                    //- Logo
                    .header__logo
                        a(href="index.html")
                            img(src="./assets/img/logo.svg" alt="Logo")
                    //- Menu
                    nav.header__menu
                        ul
                            li
                                a(href="index.html") Trang Chủ
                            li
                                a(href="#") Danh Mục
                            li
                                a(href="#") Giới Thiệu
                            li
                                a(href="#") Liên Hệ
                    //- Search
                    button.header__search-mobile
                        i(class="fa-solid fa-magnifying-glass")
                    form.header__form(action="#!")
                        button
                            i(class="fa-solid fa-magnifying-glass")
                        input(type="text" name="" placeholder="Nhập từ khóa...")
                    //- Button
                    a(href="#!" class="header__button button") Tham Gia Cộng Đồng
        
        //- Main
        block main
           
        //- Footer
        footer.footer
            .container
                .footer__wrap
                    .footer__top
                        .footer__heading Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
                        form.footer__form(action="")
                            input(type="email" placeholder="Nhập email của bạn...")
                            button.footer__button Đăng Kí Ngay
                    .footer__middle
                        nav.footer__links
                            ul
                                li
                                    a(href="#!") Trang Chủ
                                li
                                    a(href="#!") Danh Mục
                                li
                                    a(href="#!") Giới Thiệu
                                li
                                    a(href="#!") Liên Hệ
                        nav.footer__icons
                            ul
                                li
                                    a(href="#!")
                                        i(class="fa-brands fa-facebook")
                                li
                                    a(href="#!")
                                        i(class="fa-brands fa-x-twitter")
                                li
                                    a(href="#!")
                                        i(class="fa-brands fa-instagram")
                                li
                                    a(href="#!")
                                        i(class="fa-brands fa-youtube")
                    .footer__bottom
                        .footer__copyright © 2023 28Tech. All rights reserved.
                        .footer__logo
                            a(href="index.html")
                                img(src="./assets/img/logo.svg" alt="Logo")
                        .footer__links-bottom
                            ul
                                li
                                    a(href="#!") Điều khoản dịch vụ
                                li
                                    a(href="#!") Chính sách bảo mật
